
# Android specific files
local.properties
gen

# Eclipse project files
.metadata
.settings

# Build output
bin
build

# Gradle output
.gradle

# Common files
*.swp
.DS_Store
tmp
Thumbs.db

# Emacs temp files
*~